// Define variables for your color scheme

// For example:
$red: #F30000;
$dark-red: #9F0000;
$blue: #0065A8;
$yellow: #F9FB00;
$orange: #FF5300;
$green: #00C21D;
$gray: #000000;
$light-gray: #F4F4F4;
$violet: #DC88FF;
$light-blue: #8FCBFF;
$brown: #8D3700;
