// Specific CSS for your home-page
body {
  font-family: 'Muli', sans-serif;
}

#buttons_home {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.btn-lg {
   margin-top: 1em;
}
#gdf {
  height: 20vh;

}
