.bs-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.bs-item {
  padding: 1em;
  width: 12em;
  height: 3em;
  margin-top: 2em;
  line-height: 6em;
  font-weight: bold;
  text-align: center;
}

#za {
    background: $yellow;
}

#zb {
    background: $violet;
}

#zc {
    background: $green;
}

#zd {
  background: $light-blue;
}

#zh {
  background: $brown;
}

#ze {
  background: $orange;
}

#zf {
  background: $red;
}

#zg {
  background: $dark-red;
}

.bs-title {
  padding-top: 4em;
}

.image-tarifs {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4em;
}

.tarifs-sup {
  padding-top: 4em;
}

#tarifs-sup-list {
    list-style-type: none;
  }

.charges {
  padding-top: 4em;
}
