<%= render 'shared/navbar' %>
<div class="container">

  <!DOCTYPE html>
  <html>
  <title>W3.CSS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
</style>
<body>

<div class="w3-container">

<div class="w3-content w3-display-container" style="max-width:600px">
  <%= image_tag 'chambre1p.jpg', class: "mySlides", style:"width:100%" %>
  <%= image_tag 'chambre2p.jpg', class: "mySlides", style:"width:100%" %>
  <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
    <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
    <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
    <!-- <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span> -->
  </div>
</div>

<div class="blog-body">
    <div class="blog-title">
      <h1><a href="#">La chambre</a></h1>
    </div>
    <div class="blog-summary">
      <p id="chambre">La chambre, d’une surface de 15 mètres-carrés, est aménagée afin qu’une personne en fauteuil puisse s’y déplacer et y effectuer des rotations. De plus, le lit est à 60cm de haut afin de faciliter les transferts.</p>

<p>Les draps sont fournis et, à votre arrivée, le lit sera fait, vous n’aurez plus qu’à vous installer.</p>

<p>Le placard est équipé de deux penderies à deux hauteurs différentes afin qu’handicapés moteurs et valides puissent l’utiliser simplement. De plus, la porte, comme toutes celles de la maison, fait 90cm de large facilitant ainsi le passage de tous types de fauteuils. De plus, tous les encadrements ainsi que les tranches des portes ont été peints d’une couleur plus sombre pour être mieux vus par les malvoyants. Les poignées sont elles aussi plus sombres. Elles sont aussi assez larges pour une meilleure prise en main.</p>
    </div>
</div>








</div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
     dots[i].className = dots[i].className.replace(" w3-white", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-white";
}
</script>

</body>
</html>

