<%= render 'shared/navbar' %>
<div class="container charges">
<p><b>Dépôt de garantie :</b> 200 euros (chèque à donner aux propriétaires à l’arrivée, il vous sera restitué après l’état des lieux).</p>

<p><b>Electricité :</b> La location comprend un forfait de 8kwh/jour soit 56kwh/semaine. Il vous sera demandé 0,15 euro par kwh supplémentaire.</p>

<p><b>Chauffage :</b> La consommation de la pompe à chaleur est inclue dans le décompte d’électricité.</p>

<p><b>Linge de maison (draps/serviettes/torchons…) :</b> Compris dans le montant de la location</p>

<p><b>Téléphone :</b> Portable avec carte prépayée à disposition sur demande. Une caution de 50 euros vous sera demandée. Le montant dépensé vous sera facturé.</p>

<p><b>Ménage :</b> Un forfait ménage vous est proposé au tarif de 40 euros. Si toutefois vous ne souhaitiez pas l’utiliser, n’oubliez pas que vous devez laisser le gîte dans l’état de propreté dans lequel il vous a été confié.</p>

<p><b>Taxe de séjour :</b> 0,60 euro par personne de plus de 13 ans et par jour.</p>
</div>
