<%= render 'shared/navbar' %>
<div class="container">
<h2 class="text-center">Disponibilités 2018</h2>
<p class="text-center reserve">Les semaines grisées sont déjà réservées.</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div id="calendar"></div>
    </div>
  </div>
</div>

