<%= render 'shared/navbar' %>



<div class="container">
  <div class="hidden-xs">
  <div class="blog-container-tarif">
    <div class="blog-body-tarif">
      <div class="blog-title">
  <h2 class="text-center">Situation générale et itinéraire d’accès</h2>
</div>
<div class="blog-summary">
  <p class='text-center reserve'>Au coeur du pays des Abers, dans le Finistère, notre gîte est idéalement situé entre mer et campagne,</br> dans un petit bourg tranquille, à 20mn de Brest.
 </br>
  Vous pouvez y accéder en <a href="http://www.airport.cci-brest.fr/fr/">avion</a>, en <a href="http://www.voyages-sncf.com/leisure/fr/launch/home/">train</a>, en voiture, en vélo, à pied, en patins à roulettes, en char à voile...</br>
  En car, la ligne 14 dessert Plouguin depuis Brest. Les horaires <a href="http://www.cat29.fr/scripts/files/597711c5a33164.09852758/l14-6-volets-hiv17-18-1.pdf">d'hiver</a> et <a href="http://www.cat29.fr/scripts/files/5af54d44eb9e51.65664339/l14vol-ete2018_v5-0.pdf">d'été</a> sont sur le site de la <a href="http://www.cat29.fr/ligne-14.php">CAT 29</a>.</p>
</div>
</div>
</div>

<div class="geoloc">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d169305.50576522946!2d-4.721291340838373!3d48.46806890690004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4816a26e6e75a347%3A0x669f991626e7587c!2s10+Rue+Saint-Piric%2C+29830+Plouguin!5e0!3m2!1sfr!2sfr!4v1528453498616" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<div class="blog-container-tarif">
    <div class="blog-body-tarif">
      <div class="blog-summary">
        <p>En arrivant sur la place de l’Eglise de Plouguin depuis la route de Brest (D26) prendre à gauche devant le bar tabac direction Tréouergat. Prendre la deuxième à gauche, toujours direction Tréouergat, rue Saint-Piric. Le gîte est au numéro 10, la maison en pierres à droite après l’impasse.</p>
</div>
</div>
</div>
<div class="geoloc">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5285.025751842086!2d-4.604139102859884!3d48.52340212020975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4816a26e6e75a347%3A0x669f991626e7587c!2s10+Rue+Saint-Piric%2C+29830+Plouguin!5e0!3m2!1sfr!2sfr!4v1528455666450" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</div>
<div class="hidden-sm hidden-md hidden-lg">
   <div class="container">
    <h2>Situation générale et itinéraire d’accès</h1>
      <p class='text-center reserve'>Au coeur du pays des Abers, dans le Finistère, notre gîte est idéalement situé entre mer et campagne,</br> dans un petit bourg tranquille, à 20mn de Brest.
 </br>
  Vous pouvez y accéder en <a href="http://www.airport.cci-brest.fr/fr/">avion</a>, en <a href="http://www.voyages-sncf.com/leisure/fr/launch/home/">train</a>, en voiture, en vélo, à pied, en patins à roulettes, en char à voile...</br>
  En car, la ligne 14 dessert Plouguin depuis Brest. Les horaires <a href="http://www.cat29.fr/scripts/files/597711c5a33164.09852758/l14-6-volets-hiv17-18-1.pdf">d'hiver</a> et <a href="http://www.cat29.fr/scripts/files/5af54d44eb9e51.65664339/l14vol-ete2018_v5-0.pdf">d'été</a> sont sur le site de la <a href="http://www.cat29.fr/ligne-14.php">CAT 29</a>.</p>
    </div>
  <div class="geoloc">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d169305.50576522946!2d-4.721291340838373!3d48.46806890690004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4816a26e6e75a347%3A0x669f991626e7587c!2s10+Rue+Saint-Piric%2C+29830+Plouguin!5e0!3m2!1sfr!2sfr!4v1528453498616" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

  <p>En arrivant sur la place de l’Eglise de Plouguin depuis la route de Brest (D26) prendre à gauche devant le bar tabac direction Tréouergat. Prendre la deuxième à gauche, toujours direction Tréouergat, rue Saint-Piric. Le gîte est au numéro 10, la maison en pierres à droite après l’impasse.</p>

  <div class="geoloc">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5285.025751842086!2d-4.604139102859884!3d48.52340212020975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4816a26e6e75a347%3A0x669f991626e7587c!2s10+Rue+Saint-Piric%2C+29830+Plouguin!5e0!3m2!1sfr!2sfr!4v1528455666450" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</div>



