<%= render 'shared/navbar' %>

<div class="container">
  <!-- <div class="hidden-xs"> -->
  <div class="blog-container-tarif">
    <div class="blog-body-tarif">
      <div class="blog-title">
  <h2 class="text-center">Village et commodités</h2>
</div>
<div class="blog-summary">
  <p class='text-center reserve'><a href="https://plouguin.fr/">Plouguin</a> est une commune rurale de 2 000 habitants environ située dans le Pays des Abers, à 20 km au nord-ouest de Brest, à 7 km de la mer.</br>
  Vous y trouverez des commerces, des services et des professions de santé, ainsi que des tennis, une salle polyvalente et une salle multisports.</p>
</div>
</div>
</div>


<ul class="list">
  <li class="list-item">
    <div class="list-content">
      <%= image_tag 'shop.png', class: "img-village" %>
      <h2 class="text-center">Commerces</h2>
      <!-- <ul id="tarifs-sup-list"> -->
        Boulangerie/épicerie</br>
        Un restaurant</br>
        Tabac</br>
        Deux bars</br>
        La Poste</br>
        Supermarché à 5km
      <!-- </ul> -->

    </div>
  </li>

   <li class="list-item">
    <div class="list-content">
      <%= image_tag 'medkit.png', class: "img-village" %>
      <h2 class="text-center">Santé</h2>
        Médecin (recrutement)
        <b>Infirmières :</b> 02 98 89 25 98</br>
        <b>Kinésithérapeutes :</b> 02 98 89 27 42</br>
        <b>Dentistes :</b> 02 98 89 28 28</br>
        <b>Pharmacie :</b> 02 98 89 23 25</br>
        <b>ADMR :</b>02 98 32 71 35
    </div>
  </li>

  <!-- <li class="list-item">
    <div class="list-content">
      <%#= image_tag 'train.png', class: "img-village" %>
      <h2>Services</h2>
      Taxi/Transport Médical Assis : Taxi de l’Iroise – 02 98 48 10 74 (24h/24, 7 jours/7)
Taxi avec un véhicule adapté pour fauteuil roulant :
Orlac’h Christian – 06 07 48 63 29/02 98 45 18 20 (Plouguin)
Taxi Ulysse – 06 98 98 01 55 (Plougonvelin)
Cars adaptés pour personnes à mobilité réduite : Le Conseil Général a adapté la ligne régulière Brest – Saint-Renan.
En complément,
un service « car à la demande » fonctionne après Saint-Renan vers Brélès,
Lampaul-Plouarzel, Landunvez, Lanildut, Lanrivoaré, Plouarzel,
Ploudalmézeau, Ploumoguer, Plourin, Porspoder. Il faut réserver la veille au : 08 10 29 29 00. -->
    </div>
  </li>


</div>
